*,
*::before,
*::after {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 100%;
font-style: normal;
}

html,
body,
botton {
/*
    background: #E6E6E6;
*/
    background: #000;
    color: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

ol, ul {
    list-style: none;
}

/* typography */

@font-face {
    font-family: 'suisse';
    src: url('../fonts/SuisseIntl-Regular-WebM.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'suissemono';
    src: url('../fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'groteskremix';
    src: url('../fonts/GroteskRemix-regular.woff2') format('woff2');
    font-weight: 400;
}

html,
body,
botton {
/*
    font-family: groteskremix; sans-serif;
    font-size: 16px;
    line-height: 1.4rem;
    word-spacing: -0.02rem;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: normal;
*/
/*
    font-family: suisse; sans-serif;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: -0.01rem;
    word-spacing: -0.06rem;
    -webkit-font-smoothing: antialiased;
    font-kerning: auto;
*/
    font-family: suisse; sans-serif;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.01rem;
    word-spacing: -0.06rem;
    -webkit-font-smoothing: antialiased;
    font-kerning: auto; 
}

@media all and (max-width: 800px) {
  html,
  body,
  button {
    font-size: 14px;
  }
}

.t-center {
    display: block;
    text-align: center; 
    margin-top: 1rem;
    position: sticky;
    top: 0.6rem;
    mix-blend-mode: difference;
}

.photoinfo {
    font-family: suissemono;
    font-size: .85rem;
}

/* a tag */

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header a {
    color: black;
}

a:hover {
    color: #636466;
    cursor: pointer;
/*
    border-bottom: 0.1rem solid #636466;
*/
}

a:active {
    opacity: 0.6;
}

.linkimg:hover,
.linkimg:active {
    opacity: 0.6;
    color: #212121 !important;
    cursor: pointer;
}

::selection {
    color: #636466;
}

::-moz-selection {
    color: #636466;
}

div.indent {
      text-indent: 2rem;
}

.deselect a {
    opacity: 0.4;
}

.deselect a:hover,
.deselect a:active {
    opacity: 1;
    color: #000;
    cursor: pointer;
}

/* container grid */

.container {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    transition: top 0.3s;
    width: 100vw;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.6rem .8rem 4rem 1vw;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.item_text {
  grid-template-columns: 1fr 1fr;
}
@media all and (max-width: 900px) {
  .item_text {
    grid-template-columns: 1fr;
  }
}

.work,
.photo {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100vw;
    padding: 1rem;
}

.work > div {
    align-content: flex-start;
    grid-column: span 2;
}

.typography {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100vw;
    padding: 1rem;
}

.branding,
.graphic {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100vw;
    padding: 1rem;
}

/*
.work > div:nth-child(1),
.work > div:nth-child(2),
.work > div:nth-child(3) {
    grid-column: span 2;
  }
*/

.info {
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
    margin-bottom: 4rem;
    justify-content: space-between;
}

.category .year{
    opacity: 1;
}


.tag a {
    background-color: white;
    color: black;
    font-family: suissemono;
    letter-spacing: -0.08rem;
    word-spacing: -0.06rem;
    font-kerning: auto;
    font-size: .85rem;
    border-radius: 4rem;
    letter-spacing: -0.01em;
    padding: .25rem 1rem .15rem 1rem;
    max-height: 1.6rem;
    position: relative;
}

.tag a:hover {
    background: black;
    color: white;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    border-width: .1rem;
}

.tag a:active {
    opacity: 0.6;
}

img {
    width: 100%;
}

/* image */
#images {
    padding: 0vh 15vw;
}

/* works sticky info */

.back {
  position: fixed;
  z-index: 300;
  top: 1rem;
  left: 1rem;
  float: left;
  text-align: left;
}

.back:hover,
.foldedfilter:hover {
    color: #636466;
    cursor: pointer;
}

.foldedfilter {
  position: fixed;
  z-index: 300;
  top: 1rem;
  right: 1rem;
  float: right;
  text-align: left;
}

.t-center {
 text-align: center;
 z-index: 200; }

/* Layout */

.l-sticky {
  position: sticky;
  top: 0.6rem;
}

.workcredit {
  position: fixed;
  z-index: 300;
  top: 30%;
  left: 1rem;
  float: left;
  text-align: left;   
  max-width: 20vw; 
}

.description {
    display: block;
    z-index: 300;   
    text-align: left; 
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    position: absolute;
    bottom: 0;
    right: 25%;
    width: 50vw;
}

.description9 {
    display: block;
    z-index: 300;   
    text-align: left; 
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    position: absolute;
    bottom: 0;
    right: 30%;
    width: 40vw;
}

/* image contents */

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

/*
.slides::-webkit-scrollbar {
  display: none;
}
*/

.slide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  scroll-snap-align: start;
  outline: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 30vw;
  font-size: clamp(1.5rem, 5vw, 4.5rem);
  font-weight: 900;
  line-height: 1.375;
  text-align: center;
}

.content9 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 40vw;
  font-size: clamp(1.5rem, 5vw, 4.5rem);
  font-weight: 900;
  line-height: 1.375;
  text-align: center;
}

/* media format */

@media all and (max-width: 900px) {
    .header,
    .work,
    .typography,
    .branding,
    .graphic {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .work > div {
        grid-column: span 1;
      }

    .info {
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
    }

    .photo {
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    }

    .content,
    .content9 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-width: 100%;
      padding: 1rem;
      font-weight: 900;
      line-height: 1.375;
      text-align: center;
    }

    .workcredit {
        display: none;
    }

    .description,
    .description9 {
    display: block;
    z-index: 300;   
    text-align: left; 
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    position: absolute;
    bottom: 0;
    left: 1rem;
    min-width: 100%;
    padding-right: 1.6rem;
    }
}

@media all and (min-width: 1920px) {
    html,
    body,
    botton {
    font-size: 1.6rem;
    line-height: 1.9rem;
    } 

    .photoinfo {
    font-family: suissemono;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -0.04rem;
    word-spacing: -0.06rem;
    font-kerning: auto;
    } 

    .foldedfilter {
    float: right;
    }

    .description {
    margin-bottom: 1rem;
    } 
}

section {
  padding: 0.6rem 1rem 1.4rem 1rem;
}
