*,
*::before,
*::after {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 100%;
font-style: normal;
}

html,
body {
height: 100%;
overflow: hidden;
}

html {
font-size: 16px;
}

@font-face {
    font-family: 'suisse';
    src: url('../fonts/suisseintl-semibold-webm.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'suisse';
    src: url('../fonts/suisseintl-medium-webm.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'suissemono';
    src: url('../fonts/suisseintlmono-bold-webxl.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'suissemono';
    src: url('../fonts/suisseintlmono-regular-webxl.woff2') format('woff2');
    font-weight: 400;
}

.header {
    z-index: 100;
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin:  0 auto;
    padding: 1rem;
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.container::-webkit-scrollbar {
    display: none;
}

.slide {
    flex: 50%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: center;
}

.index {
    margin:  0 auto;
    bottom: 0;
    padding-bottom: 1rem;
}

#home {
    position: absolute;
    float: left;
    z-index: 0;
}

#about {
    max-width: 70vw;
    float: left;
    z-index: 1;
}

#time {
    float: right;
    max-width: 30vw;
    letter-spacing: .075rem; 
}

#contact {
    float: right;
    max-width: 30vw;
    letter-spacing: .025rem; 
}

body {
    position: relative;
    font-family: suisse, suissemono, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    word-break: keep-all;
    color: white;
    background-color: black;
    cursor: default;
    overflow: hidden;
    height: 100vh;
    height: -webkit-fill-available;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #75ead7;
}

::selection {
    background: #75ead7;
    color: #b78f68;
}

img {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
}

hr {
    display: flex;
    color: #75ead7;
}


@media screen and (max-width: 600px) {
    .header {
        display: none;
    }

    .headerMobile {
        z-index: 100;
        position: absolute;
        top: 0;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
        margin:  0 auto;
        padding: 1rem;
        background-color: black;
    }

    .slide {
        flex: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        scroll-snap-align: center;
    }
}