*,
*::before,
*::after {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 100%;
font-style: normal;
}

html,
body {
height: 100%;
overflow: hidden;
}

html {
font-size: 16px;
}

@media screen and (max-width: 320px) {
body {
    #about {
    max-width: 100vw;
    float: left;
    z-index: 1;}

    #contact {
    position: fixed;
    float: left;
    bottom: 0;
    letter-spacing: .025rem;}

    #time {
    float: right;
    bottom: 0;
    letter-spacing: .075rem;}

}
}

@media screen and (min-width: 1200px) {
html {
    font-size: 1.25rem;}
}

@font-face {
    font-family: 'suisse';
    src: url('../fonts/suisseintl-semibold-webm.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'suisse';
    src: url('../fonts/suisseintl-medium-webm.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'suisse';
    src: url('../fonts/suisseintl-regular-webm.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'suissemono';
    src: url('../fonts/suisseintl-regularitalic-webm.woff2') format('woff2');
    font-weight: 400;
}

.header {
    z-index: 100;
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin:  0 auto;
    padding: 1rem;
    background-color: transparent;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.container::-webkit-scrollbar {
    display: none;
}

.slide {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    scroll-snap-align: center;
}

.footer {
    margin:  0 auto;
    padding-bottom: 1rem;
}

#home {
    position: absolute;
    float: left;
    z-index: 0;
}

#about {
    max-width: 70vw;
    float: left;
    z-index: 1;
}

#time {
    float: right;
    max-width: 30vw;
    letter-spacing: .075rem; 
}

#contact {
    float: right;
    max-width: 30vw;
    letter-spacing: .025rem; 
}

body {
    position: relative;
    font-family: suisse, suissemono, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    word-break: keep-all;
    color: white;
    background-color: black;
    cursor: default;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #cccccc;
}

::selection {
    background: none;
    color: #212121;
}

img {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
}

hr {
    display: flex;
    color: #75ead7;
}